body{
    margin:0;
    padding: 0;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat center center fixed; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;          /* Firefox */
 image-rendering: -o-crisp-edges;            /* Opera */
 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */

}

/* centre content with flex */

.container, .searchInput, .weatherContainer{
    justify-content: center;
    align-items: center;
}

.container,.searchInput, 
.weatherContainer, 
.searchBar, 
.dayOfWeek,
.dayForecast,
.buttonContainer
{
    display: flex;
}

.searchBarContainer{
    width: 88%;
}

.container{
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    
}

.searchBar{
    margin: 1rem 0 0 0;
    width: 90%;
    
}
.searchBar, .searchButton{
    height: 2.5rem;
}

.dayOfWeek{
   align-items: center;
   justify-content: flex-start;
   gap:1rem;
   height: fit-content;
   width: 100%;
   padding: 0 1.5rem 0 1.5rem;
position: relative;
}




.day{
   align-self: flex-end;
}

.searchInput{
    align-items: baseline;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.weatherContainer{
    background-color: white;
    opacity: 70%;
    border-radius: 5px;
    width: 87%; 
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: fit-content;
    
    
}

.dummyImage{
    height: 15px;
    width: 15px;
    background-color: blueviolet;
}

.dayForecast{
    flex-direction: row;
    gap:2.5rem;
    width: 100%;
    align-items:center;
    justify-content: space-around;
    padding: 0 1.5rem 0 1.5rem;
    position: relative;
}
.borderBottom{
    position:absolute;
    border-bottom: 1px solid black;
    top:90%;
    width: 90%;
    text-align: center;
    right: 1rem;
}

.buttonContainer{
    gap:1rem;
}

.creditCaption{
    width: fit-content;
    padding: 0.5rem;
    align-self: inherit;
    position: relative;
    
}

.creditCaption>*{
    margin: 0.1rem;
    align-self: flex-start;
}


.circle{
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 80%;
    cursor: pointer;
}

/* Test Pagination Style */
.swiper {
    width: 95%;
    height: 100%;
    padding: 0.2rem;
    height:24rem;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    bottom:1rem;

  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: 100%;
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }


  .currentDummy{

    height: 50px;
    width:50px
  }

  .currentTime{
    display:none;
  }

  

  .Tabs{
    display: none;
  }

  /* Iphone SE screenSizing */

  @media screen and (max-width:375px) {
    .currentWeather>* {
        margin:0.25rem 0 0 0;
    }
    .container{
        gap:0.75rem;
    }
    .swiper-slide{
        font-size: 0.9rem;
    }
    .swiper{
        height:21rem;
    }
    .currentDummy{
        height: 30px;
        width: 30px;
    }
  }

  /* Start of Tablet Sizing */

  @media screen and (min-width:800px) {
   .currentWeather{
    width:91%
   }
  }



  @media screen and (min-width:810px) {
    .container{
        gap:2rem;  
    }
    .swiper{
        width:90%
        
    }
    .creditCaption{
        padding:1rem;
    }

  }
  @media screen and (min-width:1280px){
    .container{
        display:grid;
        overflow: clip;
        grid-template-columns: 20% 35% 32% 13%;
        grid-template-rows: 5rem 20rem 4rem 25rem;

    }
    .searchBarContainer{
        grid-area: 2/2/1/4;
        justify-self: center;
    }
    .currentWeather{
        grid-area:2/3/3/4
    }
    .swiper{
        display: none;
    }

    .nav{
        grid-area: 3/2/3/4;
        display: flex;
        flex-direction: row;
    }

    .Tabs{
        display: block;
        grid-area: 4/2/4/4;
        width: 97.5%;
        height: 100%;

    }


    .creditCaption{
        grid-area: 4/1/4/4;
        align-self: flex-end;
        margin-left: 2rem;
    }

    .currentTime{
        display: flex;
        grid-area: 2/2/2/3;
    }
    .currentTime, .currentWeather{
        width:95%;
        height:100%
    }
    .borderBottom{
        width: 97%;
    }
   
   

  }